* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0a28;
  font-family: "poppins";
}

.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.my-logo {
  width: 30%;
  margin-left: 3rem;
}
.dashboard-contents {
  display: flex;
  flex-direction: column;
  width: 83%;
}
.header {
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
  gap: 2rem;
  margin-top: 2rem;
  position: relative;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.header h2 {
  position: absolute;
  top: 0px;
  left: 1rem;
  color: #36c0c9;
  font-size: 18px;
  font-weight: 500;
}

.sidebar {
  width: 17%;
  background-color: #04162c;
  height: 95%;
  color: #fff;
  border-radius: 20px 0 0 0;
  /* background-color: cadetblue; */
}

.dash-icon {
  width: 30px;
  height: 30px;
}

#profile-image {
  border-radius: 50%;
}
.sidebar-labels-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 10px;
}
.sidebar-labels {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.cards-container {
  width: 250px;
  height: 120px;
  background-color: #100f3d;
  padding: 20px;
  border-radius: 10px;
  margin-top: 2rem;
}
.dash-card h3 {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.box-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}
.box-card p {
  font-weight: 500;
  color: #fff;
  font-size: 14px;
}

.recent-messages-card {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #100f3d;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  gap: 5px;
  position: relative;
  left: 180px;
  /* margin-top: 1rem; */
}

table {
  border-collapse: collapse;
  width: 98%;
  color: #fff;
  font-size: 14px;
}
.tables-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tables-part h3 {
  color: #36c0c9;
  padding: 1rem;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  font-size: 11px;
  /* font-family: "nunito sans"; */
}

.action-column {
  display: flex;
  justify-content: space-around;
}

.table-titles {
  color: #36c0c9;
  font-size: 14px;
  font-weight: 500;
}

.person-name {
  color: #36c0c9;
  font-weight: 500;
  font-size: 13px;
}
.recent-msg {
  font-size: 11px;
}
.time {
  color: #36c0c9;
  font-weight: 400;
  font-size: 12px;
}

.recent-messages-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.recent-messages-title {
  color: #36c0c9;
  font-size: 18px;
  font-weight: 500;
  padding-left: 1.5rem;
  position: absolute;
  top: -40px;
}

/* BLOG PAGE STYLES AND BLOG CARDS */

.blog-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 300px;
}
.blog-wrapper h1 {
  margin: 2rem auto;
  color: #36c0c9;
}

.blog-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* background-color: #36c0c9; */
}

.blog-image {
  width: 100%;
  height: 50%;
}

.blog-descript {
  width: 320px;
  height: 100px;
  overflow: hidden;
  padding-top: 5px;
}

.title {
  font-size: 13px;
  color: #514d4d;
}
.blog-box {
  height: 400px;
}

.blog-content {
  background-color: #fff;
  padding: 20px;
  color: #000;
  margin-top: -10px;
  width: 350px;
  height: 50%;
  overflow: hidden;
  font-size: 13px;
  font-family: "nunito sans";
  border-radius: 0 0 10px 10px;
}

.blog-content h3 {
  color: #36c0c9;
}
.blog-comment {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  top: 12px;
  position: relative;
  /* margin-bottom: -10px; */
}

.icons {
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 10px;
  margin-top: -1rem;
}

.read-more {
  width: 100px;
  height: 30px;
  color: #36c0c9;
  background-color: #fff;
  font-weight: 600;
  border: 1px solid #36c0c9;
  border-radius: 10px;
  margin-top: -8px;
  position: absolute;
  right: 5px;
}
.read-more:hover {
  background-color: #4a91e2;
  color: #fff;
}

.create-blog {
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem 0rem 7rem;
}
.create-blog h3 {
  color: #36c0c9;
  font-weight: 500;
  font-size: 14px;
  padding-top: 10px;
}

#newBlogBtn {
  color: #36c0c9;
  border: 2px solid #36c0c9;
  border-radius: 7px;
  padding: 6px 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  background-color: rgb(0, 0, 0, 0);
}

/* DASHBOARD PROFILE PAGE */

.brand {
  width: 80px;
  height: 80px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #100f3d;
  width: 60%;
  margin: auto;
  gap: 10px;
}
#profile {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  align-self: flex-start;
  margin-left: 180px;
}

.profile-form {
  display: flex;

  gap: 5rem;
}
.profile-form label {
  color: #fff;
  font-size: 18px;
}
.profile-form input {
  width: 350px;
  height: 35px;
  border: none;
  border-radius: 8px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "poppins";
}
#update-btn {
  background-color: #36c0c9;
  color: #fff;
  text-align: center;
  font-weight: 600;
  width: 150px;
  padding: 8px 0;
  margin: 1rem 0 2rem 0;
}

.return-btn {
  width: 50%;
  padding: 15px 0;
  margin-top: 2rem;
  border: 2px solid #36c0c9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  background-color: rgb(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 800;
  color: #36c0c9;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
a {
  text-decoration: none;
}
.return-btn:hover {
  background-color: #36c0c9;
  color: #fff;
}

/* NEW BLOG FORM STYLES*/

.blog-form {
  background-color: #100f3d;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 15px -3px #76dae2;
  z-index: 1;
  padding-top: 2rem;
  position: absolute;
  top: 100px;
  left: 330px;
  visibility: hidden;
}
.blog-form h2 {
  text-align: center;
  color: #36c0c9;
  padding: 2rem 0;
}

.blog-form > input {
  width: 670px;
  height: 35px;
  padding-left: 2rem;
  font-family: "poppins";
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

#blog-intro-content {
  width: 700px;
  height: 150px;
  margin-left: 1rem;
  margin-top: 10px;
  margin: 10px 10px 10px 20px;
  padding-left: 2rem;
  font-family: "poppins";
  border-radius: 5px;
}

#blogContent {
  width: 700px;
  height: 200px;
  margin-left: 1rem;
  padding: 3rem;
  margin-bottom: 1rem;
  font-family: "poppins";
  border-radius: 5px;
}
#blogPost {
  width: 700px;
  height: 50px;
  background-color: #36c0c9;
  border: none;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.return {
  height: 50px;
  width: 750px;
  border: 2px solid #36c0c9;
  background-color: rgb(0, 0, 0, 0);
  color: #36c0c9;
  margin-top: 3rem;
  border-radius: 10px;
  font-size: 18px;
  transition: all 0.9s;
}

.return:hover {
  background-color: #36c0c9;
  color: #fff;
}

/* MESSAGE FEEDBACK STYLES */

#message-box {
  width: 600px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #100f3d;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0;
  z-index: 1;
  margin: -100px auto;
  visibility: hidden;
}

#message-box div {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 80px;
}
#message-title {
  color: #36c0c9;
  font-size: 24px;
  font-weight: 500;
}

#message-box div label {
  color: #36c0c9;
  font-size: 18px;
}

#dismiss-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #36c0c9;
  color: #fff;
}

#dismiss-btn:hover {
  background-color: rgb(0, 0, 0, 0);
  color: #36c0c9;
  border: 1px solid #36c0c9;
}
